@use 'config';

// join var name
//joinVarName('button','text-color'ï¼‰=> --fz-button-text-color
@function joinVarName($list) {
  $name: '--' + config.$namespace;
  @each $item in $list {
    @if $item != '' {
      $name: $name + '-' + $item;
    }
  }
  @return $name;
}

// getCssVarName('button','text-color')=>--fz-button-text-color
@function getCssVarName($args...) {
  @return joinVarName($args);
}

// getCssVar('button','text-color')=>var(--fz-button-text-color)
@function getCssVar($args...) {
  @return var(#{joinVarName($args)});
}
